[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
gunicorn = "*"
python-decouple = "*"
flake8 = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.9"
