{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Home{% endblock %}

{% block 'head' %}
    <link rel='stylesheet' href="{% static 'jobs/css/index.css' %}">
{% endblock %}
{% block 'body' %}
    <div class='fundoinicial'>
        <div class='container'>
            <h1 class='titulo'>FreelaWay</h1>
            <p class='subtitulo'>Conectando empresas e freelancers!</p>

            <a href="{% url 'login' %}" class='btn btn-success'>Logar</a>
            <a href="{% url 'cadastro' %}" class='btn btn-primary'>Registrar</a>
            <a href="{% url 'encontrar_jobs' %}" class='btn btn-dark'>Encontrar Jobs</a>
        </div>
    </div>
{% endblock %}